.experience {
  margin: 0 210px;
  padding: 100px 0;
}

.jobs-table {
  display: flex;

  .tabs {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    height: 90px;

    cursor: pointer;

    .jobs-name {
      line-height: 2.25rem;
      padding: 0.25rem 1rem;
      height: 30px;
      border-left: 2px solid black;
      transition-timing-function: ease-in;
      transition-duration: 250ms;
    }
    :hover {
      background-color: #e5e5e5;
      transition-timing-function: ease-in;
      transition-duration: 250ms;
    }
  }

  .jobs-active {
    line-height: 2rem;
    padding: 0 1rem;
    height: 30px;
    border-left: 2px solid red;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
    background-color: #e5e5e5;
  }

  .contents {
    font-family: "Raleway";
    width: 475px;
    height: 275px;
    margin-left: 2.5rem;

    li {
      line-height: 1.5rem;
      font-size: 0.95rem;
      padding-bottom: 0.5rem;
    }
  }
}
