$color1: #4c5a43;
$color2: #7b8d75;
$color3: #837563;
$color4: #e1d9d6;
$color5: #c0ae98;
.experience {
  margin: 0 210px;
  padding: 200px 0 100px;
}

.jobs-table {
  display: flex;

  .tabs {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    font-weight: 600;
    height: 100px;

    cursor: pointer;

    .jobs-name {
      line-height: 2.25rem;
      padding: 0.25rem 1rem;
      height: 30px;
      border-left: 3px solid $color5;
      transition-timing-function: ease-in;
      transition-duration: 250ms;
      color: $color1;
    }
    :hover {
      background-color: #f5eded;
      transition-timing-function: ease-in;
      transition-duration: 250ms;
    }
  }

  .jobs-active {
    line-height: 2.25rem;
    padding: 0.25rem 1rem;
    height: 30px;
    border-left: 3px solid $color2;
    transition-timing-function: ease-in;
    transition-duration: 500ms;
    background-color: #f5eded;
    color: $color1;
  }

  .contents {
    font-family: "Raleway";
    width: 480px;
    height: 400px;
    margin-left: 2.5rem;

    h3 {
      line-height: 2rem;
      color: $color3;

      a {
        color: $color1;
        font-family: "Open Sans";
        font-weight: 700;
        // text-decoration: none;
      }
    }

    .duration {
      font-family: "Open Sans";
      line-height: 2rem;
      font-size: 0.9rem;
      color: $color2;
      font-weight: 600;
    }
    li {
      line-height: 1.75rem;
      font-size: 1rem;
      padding-bottom: 0.5rem;
      color: $color3;
    }
  }
}
