$color1: #4c5a43;
$color2: #7b8d75;
$color3: #837563;
$color4: #e1d9d6;
$color5: #c0ae98;
.section-title {
  display: flex;
  align-items: center;
}
.about {
  display: flex;
  flex-direction: column;
  margin: 0 6.25rem;
  padding: 6.25rem 0;
  position: relative;
}

.section-title {
  padding-bottom: 2rem;
  h2 {
    font-size: 1.75rem;
    color: $color2;
    font-family: "Open Sans";
  }
}
.tech-list {
  display: flex;
  font-family: "Open Sans";
  color: $color2;
}

.title-line {
  width: 350px;
  height: 1px;
  border-top: 1px solid $color2;
  margin-left: 1rem;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-data {
  font-family: "Raleway";
  line-height: 1.75rem;
  margin-right: 5.25rem;
  p {
    font-size: 0.95rem;
    padding-bottom: 1rem;
    color: $color3;

    a,
    span {
      font-family: "Open Sans";
      font-weight: 600;
      color: $color1;
      // text-decoration: none;
    }
  }
}

.my-img {
  img {
    width: 300px;
    height: 300px;
    border-radius: 0.25rem;
    // position: absolute;
  }
}
.img-border {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 12rem;
  left: 670px;
  border: 3px solid black;
  border-radius: 0.25rem;
  z-index: -1;
}
