$color1: #4c5a43;
$color2: #7b8d75;
$color3: #837563;
$color4: #e1d9d6;
$color5: #c0ae98;
.contact {
  display: flex;
  flex-direction: column;
  padding: 150px 0;
  text-align: center;
  max-width: 600px;
  margin: 0px auto 90px;

  h3 {
    line-height: 2rem;
    color: $color2;
    font-family: "Open Sans";
    // margin-top: 3rem;
  }
  h1 {
    line-height: 5rem;
    font-size: 54px;
    color: $color3;
  }

  p {
    line-height: 2rem;
    font-size: 1.1rem;
    padding-bottom: 2rem;
    font-family: "Raleway";
    color: $color2;
  }

  a {
    :hover {
      // transform: scale(1.03);
      cursor: pointer;
      background-color: $color2;
      color: $color4;
      border: 1px solid $color2;
      transition-timing-function: ease-in-out;
      transition-duration: 200ms;
    }
  }
  button {
    font-family: "Open Sans";
    margin-top: 2rem;
    padding: 1.25rem;
    width: 150px;
    font-size: 1.2rem;
    color: $color3;
    border: 1px solid $color3;
    background-color: inherit;
  }
}
