$color1: #4c5a43;
$color2: #7b8d75;
$color3: #837563;
$color4: #e1d9d6;
$color5: #c0ae98;

.header {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  padding: 0 6.25rem;
  max-width: 1000px;

  p {
    font-family: "Raleway", sans-serif;
    line-height: 2rem;
    font-size: 1.1rem;
    color: $color2;
  }

  h1 {
    font-size: 5rem;
    color: $color3;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 3.75rem;
    padding-bottom: 1rem;
    color: $color5;
  }

  a {
    :hover {
      // transform: scale(1.03);
      transition-timing-function: ease-in-out;
      transition-duration: 200ms;
      cursor: pointer;
      background-color: $color2;
      color: $color4;
      border: 1px solid $color2;
    }
  }
  .contact-btn {
    font-family: "Open Sans";
    margin-top: 2rem;
    padding: 1.25rem;
    width: 150px;
    font-size: 1.05rem;
    border: 1px solid $color3;
    color: $color3;
    background-color: inherit;
  }
}
