$color1: #4c5a43;
$color2: #7b8d75;
$color3: #837563;
$color4: #e1d9d6;
$color5: #c0ae98;
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 2.5rem;
  bottom: 0;

  ul {
    list-style: none;
    padding-left: 0;
    padding-bottom: 1rem;
  }

  a:hover {
    transform: scale(1.2);
  }

  .sidebar-line {
    width: 1px;
    height: 6.25rem;
    border-left: 1px solid $color1;
  }

  .sidebar-btn {
    color: $color1;
    padding: 0.625rem;
    width: 1.45rem;
    height: 1.45rem;

    :hover {
      color: $color3;
      transition-timing-function: ease-in;
      transition-duration: 150ms;
    }
  }
}
