$color1: #4c5a43;
$color2: #7b8d75;
$color3: #837563;
$color4: #e1d9d6;
$color5: #c0ae98;
.footer {
  text-align: center;
  padding-bottom: 1.5rem;
  font-family: "Open Sans";
  font-weight: 600;
  color: $color2;
}
