$color1: #4c5a43;
$color2: #7b8d75;
$color3: #837563;
$color4: #e1d9d6;
$color5: #c0ae98;
.project {
  margin: 0 6.25rem;
  padding: 7rem 0;
  max-width: 1400px;
}

.project1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  position: relative;

  .p1-data {
    display: flex;
    flex-direction: column;
    text-align: right;

    h3 {
      color: $color3;
      line-height: 2rem;
      font-size: 1.45rem;
      // padding-bottom: 1rem;
    }

    .p1-tools {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 40px;
      right: 0;
      p {
        padding-left: 2rem;
        font-weight: 600;
        font-family: "Open Sans";
        color: $color3;
      }
    }
    .p1-detail {
      position: absolute;
      top: 60px;
      right: 0;
      width: 480px;
      height: 110px;
      background-color: $color4;
      color: $color2;
      z-index: 3;
      line-height: 1.75rem;
      font-size: 1rem;
      padding: 20px 20px 20px 0;
      border-radius: 4px;
      font-family: "Raleway";
    }
  }
  img {
    width: 500px;
    height: 280px;
    border-radius: 4px;
  }

  .p1-icons {
    position: absolute;
    right: 0;
    bottom: 0px;
  }
}

.project2 {
  display: flex;
  justify-content: space-between;
  position: relative;

  .p2-data {
    display: flex;
    flex-direction: column;

    h3 {
      color: $color3;
      line-height: 2rem;
      font-size: 1.45rem;
      margin-top: 0.5rem;
    }

    .p2-tools {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 40px;
      left: 0;
      p {
        padding-right: 2rem;
        font-weight: 600;
        font-family: "Open Sans";
        color: $color3;
      }
    }

    .p2-detail {
      position: absolute;
      top: 117px;
      left: 0;
      width: 480px;
      height: 52px;
      background-color: $color4;
      color: $color2;
      z-index: 3;
      line-height: 1.75rem;
      font-size: 1rem;
      padding: 16px 20px 20px 20px;
      border-radius: 4px;
      font-family: "Raleway";
    }

    .p2-icons {
      position: absolute;
      left: 0;
      bottom: 0px;
    }
  }
  .img-container {
    display: flex;
    justify-content: flex-end;
    img {
      width: 500px;
      height: 280px;
    }
  }
}

.project-icons {
  width: 1.5rem;
  height: 1.5rem;
  color: $color2;

  :hover {
    color: $color3;
  }
}

.featured {
  color: $color2;
  font-family: "Open Sans";
  font-weight: 600;
}
